// Variabled

/* Colors */

$color-primary: #3719e6;
$color-brand-yellow: #de8302;

$color-table-border: #dfe4e6;
$color-table-header-bg: #f8fbfd;

/* Spacing */
$gutters-width: 2rem;
$gutters-mobile-width: 1rem;

/* Mobile Breakpoint */
$mobile-breakpoint: 600px;
