@import "../../../styles/variables";

.participant-intro {
  margin: 3.5rem auto 3rem;
  text-align: center;

  h1 {
    color: $color-primary;
    font-size: 40px;
    font-weight: 600;
  }

  h2 {
    font-size: 17px;
    color: #4c5563;
  }
}

.picks-wrapper {
  max-width: 960px;
  margin: 0 auto $gutters-width;

  @media (max-width: $mobile-breakpoint) {
    margin: 0 auto $gutters-mobile-width;
  }
}

.bowl-row {
  &.correct {
    .status-circle {
      &.correct {
        display: block;
      }
    }
    .your-pick {
      color: #099243;
    }
  }
  &.incorrect {
    .status-circle {
      &.incorrect {
        display: block;
      }
    }
    .your-pick {
      color: #d01d12;
    }
  }
  &.correct,
  &.incorrect {
    background-color: #fafafa;
    .status-circle {
      &.tbd {
        display: none;
      }
    }
  }
}

.bowl-cell {
  display: flex;
  align-items: center;

  .bowl-name {
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 2px;
  }

  .date-time {
    font-size: 13px;
  }

  > div {
    display: flex;
    flex-direction: column;
  }
}

.status-circle {
  margin-right: 1rem;
  height: 24px;
  width: 24px;

  &.correct,
  &.incorrect {
    display: none;
  }
}

.tbd {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #aaa;
  border: 2px solid #ddd;
  background-color: #f8f8f8;
  border-radius: 50%;
  font-size: 8px;
}

.matchup-cell {
  $cell-width: 250px;
  min-width: $cell-width;
  max-width: $cell-width;
  width: $cell-width;
  color: #777c87;
}

.matchup {
  display: flex;
  flex-direction: column;

  .matchup-line {
    display: flex;
    justify-content: space-between;

    .team-name {
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
      width: 100%;
    }
  }
}

@media (max-width: $mobile-breakpoint) {
  .participant-intro {
    margin: 0.75rem auto 1.5rem;
    text-align: center;

    h1 {
      color: $color-primary;
      font-size: 30px;
      font-weight: 600;
    }

    h2 {
      font-size: 14px;
      color: #4c5563;
    }
  }

  .status-circle {
    margin-right: 0.75rem;
    height: 22px;
    width: 22px;
  }

  .bowl-cell {
    padding-left: 0.75rem !important;

    .bowl-name {
      font-size: 13px;
      margin-bottom: 0;
    }

    .date-time {
      font-size: 12px;
    }
  }

  .matchup-cell {
    $cell-width: 208px;
    min-width: $cell-width;
    max-width: $cell-width;
    width: $cell-width;
    color: #777c87;
  }
}
