@import "../../styles/variables";

.standard-table {
  width: 100%;
  text-align: left;
  font-size: 14px;
  background-color: white;

  thead {
    border-bottom: 1px solid $color-table-border;
  }

  tr {
    border-bottom: 1px solid $color-table-border;

    &:last-child {
      border-bottom: none;
    }
  }

  th {
    font-weight: 500;
    font-size: 12.5px;
    color: #64676d;
    background-color: $color-table-header-bg;
  }

  th,
  td {
    padding: 0.75rem 1rem;

    &.rank {
      padding: 0;
      text-align: center;
      font-weight: 500;
      color: $color-brand-yellow;
    }
  }

  a {
    color: $color-primary;

    &:hover {
      text-decoration: underline;
    }
  }
}

// Adjust

.view {
  margin: auto;
  width: 100%;
}

.table-wrapper {
  position: relative;
  overflow: auto;
  box-shadow: 0 2px 4px rgb(0 0 0 / 8%);
  border: 1px solid $color-table-border;
  border-radius: 6px;
  white-space: nowrap;
}

.sticky-col {
  position: -webkit-sticky;
  position: sticky;
  background-color: white;
}

$first-col-width: 46px;
$second-col-width: 130px;

.first-col {
  width: $first-col-width;
  min-width: $first-col-width;
  max-width: $first-col-width;
  left: 0px;
}

.second-col {
  padding-left: 0 !important;
  box-shadow: inset -1px 0 0 0 $color-table-border;
  width: $second-col-width;
  min-width: $second-col-width;
  max-width: $second-col-width;
  left: $first-col-width;
}
