@import "../../styles/variables";

.standard-table {
  font-size: 14px;
  box-shadow: 0 0 0 1px $color-table-border, 0 2px 4px rgb(0 0 0 / 8%); // table border, since border-radius doesn't work
  border-radius: 6px;
  overflow: hidden;
  background-color: white;

  thead {
    background-color: $color-table-header-bg;
    border-bottom: 1px solid $color-table-border;
  }

  tr {
    border-bottom: 1px solid $color-table-border;

    &:last-child {
      border-bottom: none;
    }
  }

  th {
    font-weight: 500;
    font-size: 12.5px;
    color: #64676d;
  }

  th,
  td {
    padding: 0.75rem 1rem;

    &.rank {
      padding-right: 0;
      text-align: center;
      font-weight: 500;
      color: $color-brand-yellow;
    }
  }

  a {
    color: $color-primary;

    &:hover {
      text-decoration: underline;
    }
  }
}
